{
  "presets": [
    ["env", { "modules": false }],
    "react"
  ],
  "plugins": [
    "styled-jsx/babel",
    "transform-class-properties",
    "transform-object-entries",
    "transform-object-rest-spread",
    "webpack-alias"
  ],
  "env": {
    "production": {
      "plugins": [
        "preval",
        "faster.js",
        "minify-constant-folding",
        "tailcall-optimization",
        "transform-runtime",
        "transform-react-remove-prop-types"
      ]
    },
    "test": {
      "presets": ["env"]
    }
  }
}
